@page
@model PRN221_SE1503_GroupProject_BloodDonor_Happy3Friends.Pages.Volunteers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Volunteer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Volunteer.Phone" />
            <div class="form-group">
                <label asp-for="Volunteer.Name" class="control-label"></label>
                <input asp-for="Volunteer.Name" class="form-control" />
                <span asp-validation-for="Volunteer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.IdentityNumber" class="control-label"></label>
                <input asp-for="Volunteer.IdentityNumber" class="form-control" />
                <span asp-validation-for="Volunteer.IdentityNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Password" class="control-label"></label>
                <input asp-for="Volunteer.Password" class="form-control" />
                <span asp-validation-for="Volunteer.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Email" class="control-label"></label>
                <input asp-for="Volunteer.Email" class="form-control" />
                <span asp-validation-for="Volunteer.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.DateOfBirth" class="control-label"></label>
                <input asp-for="Volunteer.DateOfBirth" class="form-control" />
                <span asp-validation-for="Volunteer.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.AddressDetails" class="control-label"></label>
                <input asp-for="Volunteer.AddressDetails" class="form-control" />
                <span asp-validation-for="Volunteer.AddressDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.District" class="control-label"></label>
                <input asp-for="Volunteer.District" class="form-control" />
                <span asp-validation-for="Volunteer.District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.City" class="control-label"></label>
                <input asp-for="Volunteer.City" class="form-control" />
                <span asp-validation-for="Volunteer.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.BloodType" class="control-label"></label>
                <input asp-for="Volunteer.BloodType" class="form-control" />
                <span asp-validation-for="Volunteer.BloodType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.LastDonatedDate" class="control-label"></label>
                <input asp-for="Volunteer.LastDonatedDate" class="form-control" />
                <span asp-validation-for="Volunteer.LastDonatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
