@page
@using Microsoft.AspNetCore.Http
@model PRN221_SE1503_GroupProject_BloodDonor_Happy3Friends.Pages.Campaigns.CreateModel

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PRN221_SE1503_GroupProject_BloodDonor_Happy3Friends</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Vendor CSS Files -->
    @*<link href="~/lib/aos/dist/aos.css" rel="stylesheet">*@
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/glightbox/dist/css/glightbox.min.css" rel="stylesheet">
    <link href="~/lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">

</head>
<body id="body-container">
    <style>
        .btn-action {
            color: #31a9e1 !important;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 500;
        }

            .btn-action:hover {
                background-color: #31a9e1 !important;
                color: #FFF !important;
            }
        #body-container::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }

        #body-container::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122,153,217)), color-stop(0.72, rgb(73,125,189)), color-stop(0.86, rgb(28,58,148)));
        }

        #table-container {
            height: 300px;
            overflow-y: scroll;
            margin-top: 24px;
        }

        #table-container::-webkit-scrollbar {
            width: 6px;
            background-color: #F5F5F5;
        }

        #table-container::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122,153,217)), color-stop(0.72, rgb(73,125,189)), color-stop(0.86, rgb(28,58,148)));
        }

        #table-container::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
            border-radius: 10px;
        }

        .header-row {
            color: #FFF;
            font-weight: 500;
        }

        .btn-action {
            text-decoration: none;
        }

        .btn-edit {
            color: #f2da02;
            padding: 4px 16px;
            border-radius: 16px;
            font-size: 16px;
        }

        .btn-details {
            color: #37517e;
            padding: 4px 16px;
            border-radius: 16px;
        }

        .btn-delete {
            color: #f50707;
            padding: 4px 12px;
            border-radius: 16px;
            font-size: 16px;
        }

        .header-btn-back {
            display: inline-flex;
            margin: 24px;
        }

        .header-back {
            margin-left: 24px;
            color: #37517e;
        }

        .btn-back {
            font-size: 24px;
            color: #375e7e;
        }

        .btn-back:hover {
            color: #37517e;
        }

        .btn-save {
            background-color: #375e7e;
        }

        .btn-save:hover {
            background-color: #37517e;
        }
    </style>

    <header id="header" class="fixed-top " style="background-color: #37517e;">
        <div class="container d-flex align-items-center">
            <h1 class="logo me-auto"><a style="text-decoration: none" asp-area="" asp-page="/Index">BloodDonor</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            <nav id="navbar" class="navbar">
                <ul>
                    @if (HttpContext.Session.GetString("role") == null || HttpContext.Session.GetString("role") == "Volunteer")
                    {
                        <li><a class="nav-link scrollto" asp-page="/Index">Trang chủ</a></li>
                        <li><a class="nav-link scrollto active" asp-area="" asp-page="/Campaigns/Index">Đặt lịch hiến máu</a></li>
                        <li><a class="nav-link scrollto" asp-area="" asp-page="/Request">Yêu cầu máu</a></li>
                    }

                    @if (HttpContext.Session.GetString("role") != null)
                    {
                        <li>
                            <div class="form-group">
                                <div class="dropdown">
                                    <a style="text-decoration: none" class="getstarted scrollto dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" asp-area="" asp-page="">Hi, @HttpContext.Session.GetString("name")</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 80%; margin-left: 10%; padding: 8px; border: 1px solid #31a9e1; background: #FFF;;">
                                        @if (HttpContext.Session.GetString("role") != null && HttpContext.Session.GetString("role") == "Volunteer")
                                        {
                                            <li><button class="dropdown-item btn-action" type="submit">Thông tin cá nhân</button></li>
                                            <li><button class="dropdown-item btn-action" type="submit">Lịch sử hiến máu</button></li>
                                        }

                                        <form method="post" asp-page-handler="Logout">
                                            <li><button class="dropdown-item btn-action" type="submit">Đăng xuất</button></li>
                                        </form>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    }
                    else
                    {
                        HttpContext.Session.SetString("action", "RegisterCampaignsList");
                        <li><a style="text-decoration: none" class="getstarted scrollto" asp-area="" asp-page="/Login">Đăng nhập</a></li>
                    }
                </ul>
            </nav>
            <!-- .navbar -->
        </div>
    </header>

    @if (HttpContext.Session.GetString("role") != null && HttpContext.Session.GetString("role") == "Organization")
    {
        <div class="header-btn-back" style="margin-top: 120px;">
            <a asp-page="./Index"><i class="bi bi-arrow-left-circle-fill btn-back"></i></a>
            <h3 class="header-back">Tạo chiến dịch</h3>
        </div>

        <div class="row" style="--bs-gutter-x: 0; justify-content: center;">
            <form method="post" class="row g-3 col-md-8" style="padding: 16px 36px; margin: 0 24px; border: 4px solid #37517e; border-radius: 8px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-4">
                    <label asp-for="Campaign.Name" class="control-label"></label>
                    <input asp-for="Campaign.Name" class="form-control" />
                    <span asp-validation-for="Campaign.Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Campaign.Description" class="control-label"></label>
                    <input asp-for="Campaign.Description" class="form-control" />
                    <span asp-validation-for="Campaign.Description" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Campaign.BloodTypeRequired" class="control-label"></label>
                    <select asp-for="Campaign.BloodTypeRequired" class="form-select" aria-label="Default select example">
                        <option asp-for="Campaign.BloodTypeRequired" value="A">A</option>
                        <option asp-for="Campaign.BloodTypeRequired" value="B">B</option>
                        <option asp-for="Campaign.BloodTypeRequired" value="AB">AB</option>
                        <option asp-for="Campaign.BloodTypeRequired" value="O">O</option>
                    </select>
                    <span asp-validation-for="Campaign.BloodTypeRequired" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Campaign.AddressDetails" class="control-label"></label>
                    <input asp-for="Campaign.AddressDetails" class="form-control" />
                    <span asp-validation-for="Campaign.AddressDetails" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Campaign.District" class="control-label"></label>
                    <select asp-for="Campaign.District" class="form-select" aria-label="Default select example">
                        <option asp-for="Campaign.District" value="Quận 1">Quận 1</option>
                        <option asp-for="Campaign.District" value="Quận 3">Quận 3</option>
                        <option asp-for="Campaign.District" value="Quận 4">Quận 4</option>
                        <option asp-for="Campaign.District" value="Quận 5">Quận 5</option>
                        <option asp-for="Campaign.District" value="Quận 6">Quận 6</option>
                        <option asp-for="Campaign.District" value="Quận 7">Quận 7</option>
                        <option asp-for="Campaign.District" value="Quận 8">Quận 8</option>
                        <option asp-for="Campaign.District" value="Quận 10">Quận 10</option>
                        <option asp-for="Campaign.District" value="Quận 11">Quận 11</option>
                        <option asp-for="Campaign.District" value="Quận 12">Quận 12</option>
                        <option asp-for="Campaign.District" value="Quận Phú Nhuận">Quận Phú Nhuận</option>
                        <option asp-for="Campaign.District" value="Quận Bình Thạnh">Quận Bình Thạnh</option>
                        <option asp-for="Campaign.District" value="Quận Tân Phú">Quận Tân Phú</option>
                        <option asp-for="Campaign.District" value="Quận Tân Bình">Quận Tân Bình</option>
                        <option asp-for="Campaign.District" value="Quận Gò Vấp">Quận Gò Vấp</option>
                        <option asp-for="Campaign.District" value="Quận Bình Tân">Quận Bình Tân</option>
                        <option asp-for="Campaign.District" value="Huyện Nhà Bè">Huyện Nhà Bè</option>
                        <option asp-for="Campaign.District" value="Huyện Bình Chánh">Huyện Bình Chánh</option>
                        <option asp-for="Campaign.District" value="Huyện Cần Giờ">Huyện Cần Giờ</option>
                        <option asp-for="Campaign.District" value="Huyện Hóc Môn">Huyện Hóc Môn</option>
                        <option asp-for="Campaign.District" value="Huyện Củ Chi">Huyện Củ Chi</option>
                    </select>
                    @*<input asp-for="Campaign.District" class="form-control" />*@
                    <span asp-validation-for="Campaign.District" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Campaign.City" class="control-label"></label>
                    <select asp-for="Campaign.City" class="form-select" aria-label="Default select example">
                        <option asp-for="VolunteerInCampaign.City" value="Thành phố Hồ Chí Minh">Thành phố Hồ Chí Minh</option>
                    </select>
@*                    <input asp-for="Campaign.City" class="form-control"/>*@
                    <span asp-validation-for="Campaign.City" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Campaign.StartDate" class="control-label"></label>
                    <input asp-for="Campaign.StartDate" class="form-control" />
                    <span asp-validation-for="Campaign.StartDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Campaign.EndDate" class="control-label"></label>
                    <input asp-for="Campaign.EndDate" class="form-control" />
                    <span asp-validation-for="Campaign.EndDate" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Campaign.OrganizationId" value="@HttpContext.Session.GetString("phone")" />
                <div class="form-group" style="text-align: center; margin-bottom: 16px; margin-top: 24px">
                    <input style="padding: 8px 24px" type="submit" value="Tạo" class="btn btn-primary btn-save" />
                </div>
            </form>
        </div>
    }
    else
    {
        <h6>Bạn không có quyền truy cập trang này! <a asp-page="/Login">Đăng nhập để tiếp tục</a> Hoặc trở về <a asp-page="/Index">Trang chủ</a></h6>
    }

    <footer id="footer" style="position: absolute;bottom: 0;width: 100%;">
        <div class="container footer-bottom clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>BloodDonor</h3>
                    </div>
                </div>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><a href="https://github.com/HAPPY-3-FRIENDS">Happy 3 Friends</a></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by Happy 3 Friends
            </div>
        </div>
    </footer><!-- End Footer -->
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}