@page
@model PRN221_SE1503_GroupProject_BloodDonor_Happy3Friends.Pages.VolunteerHealths.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VolunteerHealth</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VolunteerHealth.Id" />
            <div class="form-group">
                <label asp-for="VolunteerHealth.Height" class="control-label"></label>
                <input asp-for="VolunteerHealth.Height" class="form-control" />
                <span asp-validation-for="VolunteerHealth.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerHealth.Weight" class="control-label"></label>
                <input asp-for="VolunteerHealth.Weight" class="form-control" />
                <span asp-validation-for="VolunteerHealth.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerHealth.HaveHepatitisBvirus" class="control-label"></label>
                <input asp-for="VolunteerHealth.HaveHepatitisBvirus" class="form-control" />
                <span asp-validation-for="VolunteerHealth.HaveHepatitisBvirus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerHealth.HaveHivvirus" class="control-label"></label>
                <input asp-for="VolunteerHealth.HaveHivvirus" class="form-control" />
                <span asp-validation-for="VolunteerHealth.HaveHivvirus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerHealth.OtherDiseases" class="control-label"></label>
                <input asp-for="VolunteerHealth.OtherDiseases" class="form-control" />
                <span asp-validation-for="VolunteerHealth.OtherDiseases" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
